* {
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.gap-1 {
    gap: 1rem;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.w-full {
    width: 100%;
}

.contain-btn {
    padding: 1rem 3rem;
    background-color: red;
    border-radius: 8px;
    color:white;
    cursor: pointer;
    border: none;
    font-size: 20px;
    font-weight: bold;
}

.contain-btn:hover {
    background-color: darkred;
    color: white;
}

.red {
    color: red;
}

.outline-btn {
    padding: 0.65rem 2.5rem;
    background-color: white;
    border: 1px solid red;
    border-radius: 8px;
    color:red;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.outline-btn:hover {
    background-color: red;
    color: white;
}

.secondary-btn {
        padding: 1rem 3rem;
    background-color: lightgray;
    border-radius: 8px;
    color:red;
    cursor: pointer;
    border: none;
    font-size: 20px;
    font-weight: bold;
}

.secondary-btn:hover {
    background-color: red;
    color: white;
}

.secondary-btn-small-padding {
    padding: 1rem !important;
}

.navbar {
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 1rem 4rem;
    border-bottom: 0.5px solid black;
    align-items: center;
    justify-content: space-between;
    gap: 1.214rem;
}

.navbar-left-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
}

.navbar-right-menu {
    display: flex;
}

.logo {
    font-size: 24px;
}

.navbar-menu-container {
    display: flex;
    gap: 1rem;
    font-weight: 300;

}

.navbar-menu-container > a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.navbar-menu-container > a:hover {
    color: red;
}

.section-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3.5rem 4rem;
}

.section-title {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: start;
    justify-content: left;
}

.section-title-content {
    font: 32px;
}

.red-box {
    height: 16px;
    width: 16px;
    background-color: red;
}

.product-name {
    font-size: 21px;
    font-weight: bold;
}

.product-price {
    background-color: white;
    padding: 2px 8px;
    border-radius: 17px;
    color: red;
    text-align: center;
}

.product-rating {
    display: flex;
    flex-direction: row;
    gap: 4.2px;
}

.product-catalog-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 1.5rem;
    row-gap: 4rem;
}


.footer {
    display: flex;
    width: 100vw;
    padding: 4rem 4rem;
    background-color: black;
    color: white;
    justify-content: space-evenly;
}